
[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dj-database-url = "*"
django = "*"
django-extensions = "*"
django-filter = "*"
djangorestframework = "*"
prettyconf = "*"
psycopg2 = "*"
gunicorn = "*"
whitenoise = "*"

[dev-packages]
ipdb = "*"
ipython = "*"

[requires]
python_full_version = "3.8.2"
